	@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300&display=swap');





@import "nullstyle.scss";

.text{
	font-family: "Cormorant Upright" ;
	font-size: 40px ;
	line-height: 35px;
	p{margin:0px 0px 30px 0px;}
}